# Python virtual environment
.venv/
venv/
ENV/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# GDS output files
*.gds

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints
